<!-- Carousel
================================================== -->

<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <div class="carousel-inner" role="listbox">
    <div class="item active picture">
      <%= image_tag("Fast Lane.jpg") %> 
      <div class="container">
        <div class="carousel-caption">
          <div class="front-display">
            <div class="animate-title text-center front-title ">
              Studio Carney
            </div>
            <div class="animate-title text-center architecture-border">
              ARCHITECTURE
            </div>
            <div class="animate-title text-center translating-front-text ">
              "Translating the language of architecture" <br>into objects that last a lifetime.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="item pictue">
      <%= image_tag("Roma 286-Edit.jpg") %>
      <div class="container">
        <div class="carousel-caption">
          <div class="front-display">
            <div class="animate-title text-center front-title ">
              Studio Carney
            </div>
            <div class="animate-title text-center architecture-border">
              ARCHITECTURE
            </div>
            <div class="animate-title text-center translating-front-text ">
              "Translating the language of architecture" <br>into works of art.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="item picture">
      <%= image_tag("DSC_0150-Edit.jpg") %>   
      <div class="container">
        <div class="carousel-caption">
          <div class="front-display">
            <div class="animate-title text-center front-title ">
              Studio Carney
            </div>
            <div class="animate-title text-center architecture-border">
              ARCHITECTURE
            </div>
            <div class="animate-title text-center translating-front-text ">
              "Translating the language of architecture" <br>with your vision in mind.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div><!-- /.carousel -->


<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-4">
      <img class="img-circle" src="assets/DSC_3579.jpg" alt="Generic placeholder image" width="140" height="140">
      <h2>18 Years of Experience</h2>
      <p>Single and multi-family residential projects, retail, corporate office and public projects including storage facilities, banks, community centers and libraries.</p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="img-circle" src="assets/IMG_0326 - Copy.jpg" alt="Generic placeholder image" width="140" height="140">
      <h2>Collaboration</h2>
      <p>We believe each project should be a collaborative effort and work to include the Client in the design process.</p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="img-circle" src="assets/Florence 018.jpg" alt="Generic placeholder image" width="140" height="140">
      <h2>Vision</h2>
      <p>Our goal is to take your vision and apply our imagination and technical experience to help translate that into a built environment.</p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->


  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Studio Carney.  <small class="text-muted">Architecture</small></h2>
      <p class="lead">Our firm is based on the principal that each project begins with the vision of the Client. Our goal is to take your vision and apply our imagination and technical experience to help translate that into a built environment.  We believe each project should be a collaborative effort and work to include the Client in the design process.</p>
      <br>
      <br>
      <br>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-responsive center-block" src="assets/13221306_1078030318921053_2245010004674944118_o.jpg" alt="Picture of Chicago IL">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 col-md-push-5">
      <h2 class="featurette-heading">Michael Carney, ALA.  <small class="text-muted">Founder.</small></h2>
      <p class="lead">Michael received his education from the University of Wisconsin-Milwaukee. While at UWM, Michael participated in a Historic Preservation and Restoration program located in San Gemini, Italy. His passion for Architecture and broadening his experiences has recently lead him to continue his post graduate education at Southern Illinois University.  Michael has worked on multiple residential projects located throughout the Country. He has also worked on a variety of corporate projects in Chicago and the surrounding suburbs. Michael has recently been involved in an increasing number of commercial developments located in the Chicagoland area.  Outside of Architecture, Michael is a published photographer who enjoys sharing his view of the world through his imagery.  Michael currently holds an Architectural License in Illinois and Wisconsin. Michael is also a member of the Association of Licensed Architects.</p>
      <br>
      <br>
      <br>
    </div>
    <div class="col-md-5 col-md-pull-7">
      <img class="featurette-image img-responsive center-block" src="assets/279765_194630763927684_7310540_o.jpg" alt="Picture of Michael Carney">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Services.  <small class="text-muted">What we can do for you.</small></h2>
      <p class="lead"></span>The language of Architecture can be a difficult one to understand. At Studio Carney Architecture, we pride ourselves in helping translate the language of Architecture into something less intimidating.  Here are some of the services we offer to our clients:<br><br><span class="mla-image"><%= image_tag "ALA-Member-Color-Apr1-45f3d569b792fab318befd1be4cad7d43ab140d5b685cc29fd7901704b540688.jpg" %></span>Feasibility Studies.  Programming. Entitlement Services. Construction Phase Administration. Design. Bidding and Negotiation.  Consultation Services.  Due Diligence. Construction Documentation and Specifications. </p>
      <br>
      <br>
      <br>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-responsive center-block" src="assets/13248438_1078018998922185_6301940955756724662_o.jpg" alt="Picture of services — bricks by Michael Carney">
    </div>
  </div>

  <hr class="featurette-divider">

  <!-- /END THE FEATURETTES -->